body{
	/* background is using uigradiets.com */
  background: #FFA17F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin:0;
	padding:0;
}

a{
	font-size:large;
}

h1{
	text-align: center;
	font-family: "Courier New";
}

h2{
	text-align: center;
	font-family: "Courier New";
}

h3{
	text-align: center;
	font-family: "Courier New";
}

html {
	/* when an anchor tag link is clicked, the page scrolls down smoothly to the selected content */
  scroll-behavior: smooth;
}

i{
	font-size:x-large;
}

p{
	text-align: center;
}


.container-fluid{
	/* I had an issue where my divs were not taking up the entire width of the page.
		 bootstrap containers have padding by default.
		 removing padding allowed page content to fill the entire width of the browser window. 
	*/ 
	
	padding-left:0;
	padding-right:0;

}

.coverPic{
	/* I wanted to achieve an effect where the cover picture is split 
		 with the skyline on the top and reflected buildings on the water below my name banner
		 to do this, i created two seperate images: one above the banner and one below
		 I then used vh (viewport height) for height so that the cover takes the entire height of the window
	*/
	height:38vh; /* = 1% of viewport height.*/
	width:100%;
}

#aboutMe{
	opacity:0;
	text-align: center;
	min-height:50vh;
	margin-top: 50vh;
	margin-bottom: 50vh;
}

#aboutMe:hover{
	opacity:1;
	background: #E9ECEF;
}

#contactMe{
	background: #E9ECEF;
	bottom:0;
	text-align: center;
	width:100%;
}

#middleBanner{
 	margin-bottom: 0;
	text-align: center;
}


#portrait{
	border-radius: 50%;
	text-align: center;
}

#projects{
	opacity:0;
	text-align: center;
	min-height:50vh;
	margin-top: 50vh;
	margin-bottom: 50vh;
}

#projects:hover{
	opacity:1;
	background: #E9ECEF;
}

#topBanner{
	background: #E9ECEF;	
}

